.radius-overflow {
  border-radius: var(--jinn-border-radius);
  overflow: hidden;
}
.radius-overflow-border {
  border-radius: var(--jinn-border-radius);
  overflow: hidden;
  border: 1px solid var(--jinn-border-color1);
}
.el-avatar {
  border: 1.5px solid var(--jinn-border-color1);
}


