// 给项目提供scss全局变量

// 设置scss全局变量
// $base-color:rgb(215, 215, 107);

// 左侧菜单的宽度
$base-menu-width: 240px;
// 左侧菜单栏的背景颜色
$base-menu-background: rgb(221, 238, 255);
// 左侧菜单栏收缩后的宽度
$base-menu-min-width: 64px;
// 顶部导航的高度
$base-tabbar-height: 55px;

// 左侧菜单Logo高度的设置
$base-menu-logo-height: 55px;
// 左侧菜单logo文字的大小
$base-logo-title-fontSize: 20px;

$base-orange: rgb(255, 191, 71);

$base-gray-border: #e4e7ed;

$base-gray: #f1f2f3;

$text-gray: #a3a3a3;

// 断点列表
$breakOptions: (
  "phone": (
    320px,
    480px,
  ),
  "pad": (
    481px,
    768px,
  ),
  "notebook": (
    769px,
    1024px,
  ),
  "desktop": (
    1025px,
    1200px,
  ),
  "tv": 1201px,
);
// 混合
@mixin respond-to($breakName) {
  $breakPoint: map-get($breakOptions, $breakName);
  @if type-of($breakPoint) == "list" {
    $min: nth($breakPoint, 1);
    $max: nth($breakPoint, 2);
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @media (min-width: $breakPoint) {
      @content;
    }
  }
}
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin pc {
  @media (min-width: 769px) {
    @content;
  }
}

// 媒介查询 // 使用模板
// @include respond-to("phone") {
//   min-width: 1100px;
//   // width: 100%;
// }
// @include respond-to("pad") {
//   min-width: 1100px;
//   // width: 100%;
// }
// @include respond-to("notebook") {
//   min-width: 1100px;
//   max-width: 2560px;
// }
// @include respond-to("desktop") {
//   min-width: 1100px;
//   max-width: 2560px;
// }
// @include respond-to("tv") {
//   min-width: 1100px;
//   max-width: 2560px;
// }
