// 给项目提供scss全局变量

// 设置scss全局变量
// $base-color:rgb(215, 215, 107);

// 左侧菜单的宽度
$base-menu-width: 240px;
// 左侧菜单栏的背景颜色
$base-menu-background: rgb(221, 238, 255);
// 左侧菜单栏收缩后的宽度
$base-menu-min-width: 64px;
// 顶部导航的高度
$base-tabbar-height:55px;

// 左侧菜单Logo高度的设置
$base-menu-logo-height: 55px;
// 左侧菜单logo文字的大小
$base-logo-title-fontSize:20px;

$base-orange:rgb(255, 191, 71);

$base-gray-border:#e4e7ed;

$base-gray:#f1f2f3;

$text-gray:#a3a3a3;

