html[data-theme="dark"] {
  /* 基本颜色 */
  --jinn-color1: rgb(0, 0, 0);
  --jinn-color2: rgb(255, 255, 255);
  --jinn-color3: rgb(130, 126, 254);
  --jinn-color4: rgb(151, 148, 255);
  --jinn-color5: #aac8e4;
  /* 文字颜色 */
  --jinn-text-color1: rgb(93, 131, 255);
  /* --jinn-text-color2: ; */
  /* 背景颜色 */
  --jinn-bg1: rgba(10, 10, 10, 0.7);
  --jinn-bg2: #2f2f2f;
  --jinn-bg3: #1a1a1a;
  /* 边框线颜色 */
  --jinn-border-color1: rgb(84 84 84 / 48%);
}
